{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Log</title>
    <script src="{% static 'js/core.js' %}"></script>
</head>
<body>
    <p>{{myObj}}</p>
    <form action="{% url 'process_request' %}" >
        <input type='text' name="ticket_number" >
        <button type="submit">submit</button>
    </form>
</body>
</html>